@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .padding__v-medium {
        @apply py-8 md:py-12 lg:py-16;
    }
    .padding__v-large {
        @apply py-12 md:py-16 lg:py-20;
    }
    .padding__stage-v-large {
        @apply pb-16 md:pb-20 lg:pb-24 pt-20 md:pt-24 lg:pt-28;
    }
}

@layer components {
    .wrapper {
        @apply max-w-screen-2xl mx-auto px-6;
    }


    /* .hover-short {
        transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .hover-medium {
        transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .hover-long {
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    } */


    .display {
        @apply text-5xl md:text-7xl font-medium leading-none tracking-tighter;
    }
    .title-large {
        @apply text-4xl md:text-6xl font-medium leading-tight tracking-tighter;
    }
    .title-small {
        @apply text-3xl md:text-5xl font-medium leading-tight tracking-tighter;
    }
    .headline-large {
        @apply text-2xl md:text-4xl font-medium leading-snug tracking-tighter;
    }
    .headline-small {
        @apply text-xl md:text-3xl font-medium leading-snug tracking-tighter;
    }

    .label-large {
        @apply text-lg font-medium leading-normal tracking-tight;
    }
    .body-large {
        @apply text-lg leading-normal tracking-tight;
    }
    .label-medium {
        @apply text-base font-medium leading-normal tracking-tight;
    }
    .body-medium {
        @apply text-base leading-normal tracking-tight;
    }
    .label-small {
        @apply text-sm font-medium leading-normal tracking-tight;
    }
    .body-small {
        @apply text-sm leading-normal tracking-tight;
    }
    .annotation {
        @apply text-xs leading-normal tracking-tight;
    }
}
